.choiceBtn{
    line-height: 20px;
    width: 80px;
}
#gameDiv{
    border: 200px solid;
    border-color: gray;
    border-radius: 2500px;
    padding: 10px;
    background-color: black;
    text-align: center;
    display: grid;
    place-items: center;
}
#playerText{
    color: blanchedalmond;
}
#computerText{
    color: palevioletred;
}
#resultText{
    color: white;
}
.XYN{
    width: 75%;
display: flex; 
gap: 150px;
justify-items: space-between;

}
.name{
    place-items: center; 
    
}